::-webkit-scrollbar {
    display: block;
    width: 0.3rem;
    border: none;    

    @media(max-width: 768px){
        display: none;
    }
}

::-webkit-scrollbar-thumb {
    background:  $white;
    border-radius: 1rem;

    @media(max-width: 768px){
        display: none;
    }
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-track-piece{
    background-color: transparent;
}

::-webkit-scrollbar-track-piece:end {
    margin-bottom: 0; 
}

::-webkit-scrollbar-track-piece:start {
    margin-top: 0; 
}