/**
 * Variables
*/

/* Typography */
/* Breakpoints */
/* Paths */

/* Grid setup */

$w-show-menu: 1023px;

$w-max: 2700px;
$w-tablet: 1030px;
$w-mob-l: 481px;
$w-mob-m: 376px;
$w-mob-s: 321px;

/* Colour palette */
$white: #fff;
$gray:#8D8D8D;
$accent-gray: #cecfcc;
$black: #000000;
$dark: #000000;

/* Components */

/* Animations */
