@import 'vars';
@import 'mixins';
@import 'reset';

.overflow-hidden {
    overflow: hidden !important;
}

@media (min-width:$w-mob-l) {
    .mobile-only {
        display: none!important;
    }
}

@media (min-width:$w-tablet) {
    .tablet-only {
        display: none!important;
    }
}

@media (max-width:$w-mob-l) {
    .no-mobile {
        display: none!important;
    }
}

@media (max-width:$w-tablet) {
    .no-tablet {
        display: none!important;
    }
}